:root {
    --strawberry: #e5ada8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background: #EEEDEA;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #d8d7b2;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #725c3f;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #0000008f;
    ;
}

header .logo span {
    color: var(--strawberry);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #725c3f;
}

header .navbar a:hover {
    color: var(--strawberry);
}

header .icons a {
    font-size: 2.5rem;
    color: #d0a77b;
    margin-left: 2.5rem;
}

header .icons a:hover {
    color: var(--strawberry);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #d0a77b;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

.myorder-section {
    margin-top: 4rem;
    display: grid;
    padding: 5rem 0;
    align-items: center;

}

.myorder-container {
    width: 100%;
    /* max-width: 600px; */
    padding: 0rem 15rem;
    /* border-radius: 10px; */
    height: auto;
    /* border: 1px solid black; */
}

.myorder-title {
    text-align: left;
    font-size: 3.5rem;
    color: #444341;
    text-shadow: 1px 5px 2px #7a7a7a36;
    /* margin-top: 5rem; */
    font-weight: 600;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 2rem;
}

.myorder-container h1{
    text-align: center;
    color: #725c3f;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    margin-top: 80px;


}

.myorder-container h1 span {
    color: var(--strawberry);
}
.custom-hr {
    border: 0;
    height: 2px; /* Thickness */
    background: linear-gradient(to right, #db9a94, #e5ada8, #d8d7b2,  #a5a24e);
    margin: 1rem 0; /* Space around the line */
}

.choices {
    display: flex;
    justify-content: left;
    /* background-color: #d8d7b2; */
    padding: 1rem;
   
}

/* Styling for the header list */
.header-list {
    list-style-type: none;
    display: flex;
    gap: 4rem; /* Adjust spacing between items */
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #725c3f;
    text-transform: capitalize;
    text-align: left;
}

/* Ensure items are equally spaced */
.header-list li {
    flex: 3; /* Items will stretch equally */
    text-align: left; /* Center the text */
}

/* Optional: Hover effect for list items */
.header-list li:hover {
    color: rgb(44, 58, 23);
    cursor: pointer;
    background-color: var(--strawberry);
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20rem;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 20px;
    /* margin-left: 15px; */

}

table th,
table td {
    padding: 1.5rem;
    text-align: left;
    color: #725c3f;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid #d8d7b2;
    padding-left: 1rem;
  

}

th {
    background-color: #d8d7b2;
    font-weight: bold;
    color: #fff;
}

.cancel-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    background-color: #bc817c;
    color: #fff;
    width: 100%;
}

.cancel-btn:hover {
    background-color: #e57d72;
}