:root {
    --strawberry: #e5ada8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://res.cloudinary.com/dogrgo15f/image/upload/v1724135727/images/nns17zhcp5vn6ik08eic.jpg') no-repeat center center/cover;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #d8d7b2;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #725c3f;
    font-weight: lighter;
}

header .logo span {
    color: var(--strawberry);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #d0a77b;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: rgba(184, 145, 145, 0.3);
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.204);
    position: relative;
    bottom: -4rem;
}


.form-box {
    flex-grow: 1;
    padding: 30px;

}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.shop-logo {
    width: 110px;
    height: auto;
    margin-bottom: 10px;
}

.shop-name {
    font-size: 35px;
    color: #725c3f;
    text-shadow: 1px 1px 2px #0000008f;
}

.shop-name span {
    color: var(--strawberry);
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #725c3f;
}


.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: var(--strawberry);
    color: #725c3f;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d8d7b2;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    html .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background: #d8d7b2;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .container {
        flex-direction: column;
    }

    .logo-section {
        margin-bottom: 20px;
    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}